body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f0f3f5;
}

/* Header Part */

    .header {
        background-color: #f66c6b;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .header-logo-wild {
        width: 250px;
        height: auto;
    }
    .header-title {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .header-title h1 {
        font-size: 4rem;
    }
    .header-title h2 {
        font-size: 1.5rem;
    }
    .header-title-specialite {
        font-style: italic;
    }

/* End Header Part */


/* Content Part (Cards) */

.card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#container{
    background:#f0f3f5;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin:20px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.71);
}
.portrait {
    width: 100%;
    border-radius: 12px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: 1rem;
}
.cardTemplate{
    width: 250px;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 12px;
}
.name, .position {
    font-weight: bold;
}

p {
    text-align: center;
    margin: 0;
    padding: 1rem;
    margin-bottom: 1rem;
}
.content > p{
    margin-top:5px;
    padding: 0%;
    margin-bottom: 10px;
    text-align: left;
}
.content > .popup-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.logoLinkedin, .logoGithub, .logoEmail {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.email, .email2, .email3, .email4, .email5, .email6, .email7, .email8, .email9, .email10, .email11, .email12, .email13
, .email14, .email15, .email16, .email17, .email18, .email19, .email20, .email21, .email22, .email23, .email24, .email25 { 
    cursor: pointer;
    
}
.network {
    flex: 1;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.network a {
    width: 2rem;
}
.network button {
    width: 100%;
}
.network img {
    transition: transform .2s;
}
.network img:hover {
    transform: scale(1.3);
}

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }

  .popup .content {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    border-radius: 12px;
    width:450px;
    height:300px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing: border-box;
    border-bottom: #f66c6b 30px solid;
  }
  .staff {
      display: flex;
  }
  .staffCard {
    width: 250px;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 12px;

  }
  .infoWild {
      font-size: 2em;
      font-weight: bold;
  }
  .divider {
      display: flex;
      width: 100%;
      flex-direction: column;
      
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
    transition: transform .3s;
  }
  .close-btn:hover {
    transform: scale(1.4);
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
  button {
    background-color: #f66c6b;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    padding:15px;
    font-size:18px;
    border: none;
    color: white;
    text-transform:uppercase;
    font-weight: bold;
    transition: all ease .3s;
    border-radius: 0 0 12px 12px;
  }
  button:hover {
    background-color: #c52626;
  }

.footer {
    background-color: #f66c6b;
    color: white;;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
hr {
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1em;
}

.contact{
    font-size: 2rem;
}

a {
    display: inline;
}

/* End Content Part (Cards) */

/* Footer Part */

.footer h4 {
    font-size: 1.4rem;
    text-align: center;
}
.container-icons {
    display: flex;
    align-items: center;
}
.container-icons img {
    margin: 0 10px 0 10px;
    transition: all 0.3s ease;
}
.container-icons a :hover {
    filter: invert(100%);
}
.item-facebook, .item-instagram, .item-twitter, .item-linkedin {
    height: 50px;
}
.item-wild {
    height: 60px;
}

/* Footer Part */

@media screen and (min-width: 761px){
    .header {
        flex-direction: row;
    }
    .container-icons img {
        margin: 0 20px 0 20px;
    }
    .footer h4 {
        font-size: 2rem;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #f0f3f5;
    }
    .cardTemplate {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}