body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
    .header {
        background-color: rgb(235, 75, 75);
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .header-logo-wild {
        width: 250px;
        height: auto;
    }
    .header-title {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        padding: 0px 30px 0px 30px;
    }
    .header-title h1 {
        font-size: 4rem;
    }
    .header-title h2 {
        font-size: 1.5rem;
    }
    .header-title-specialite {
        font-style: italic;
    }

section {
    column-count: 4;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background:lightblue;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
}
.logo {
    margin-left: 12%;
    width: 15%;
}

details summary {
    cursor: pointer;
    outline: none !important;
    display: inline-block;
    padding: 8px 12px;
    padding-top: 10px;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

details[open] > summary::before {
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      cursor: default;
      content: " ";
      z-index: 99;
      background: rgba(27,31,35,0.5);
  }

  details > div {
    left: 50%;
    margin: 10vh auto;
    max-height: 80vh;
    max-width: 90vw;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 448px;
    z-index: 999;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial;
    padding: 1em;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

details summary::-webkit-details-marker {
  display:none;
}

.footer {
    background-color: rgb(235, 75, 75);
    color: white;;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.footer h4 {
    font-size: 2rem;
    text-align: center;
}
.container-icons {
    display: flex;
    align-items: center;
}
.container-icons img {
    margin: 0 20px 0 20px;
}
.container-icons a :hover {
    filter: invert(100%); 
}
.item-facebook, .item-instagram, .item-twitter {
    height: 50px;
}
.item-wild {
    height: 60px;
}

@media screen and (min-width: 761px){
.header {
    flex-direction: row;
}
}